<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.irs.mapper.RolesMenusMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.irs.pojo.RolesMenusKey" >
    <id column="menu_id" property="menuId" jdbcType="BIGINT" />
    <id column="role_id" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.ssm.irs.pojo.RolesMenusKey" >
    delete from tb_roles_menus
    where menu_id = #{menuId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssm.irs.pojo.RolesMenusKey" >
    insert into tb_roles_menus (menu_id, role_id)
    values (#{menuId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.irs.pojo.RolesMenusKey" >
    insert into tb_roles_menus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>